<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Reactify</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <script src="./scripts/angular.min.js"></script>
    <script src="./scripts/underscore-min.js"></script>
    <script src="./scripts/react.min.js"></script>
    <script src="./scripts/ngReact.min.js"></script>
    <script src="./scripts/reactor.js"></script>
    <script src="./app.js"></script>

    <div ng-app="Reactify" ng-controller="MainCtrl">
        <span>Items: </span>
        <input ng-model="amount"/>
        <button ng-click="populateAngular()">Angular</button>
        <button ng-click="populateReact()">React</button>
        <button ng-click="clearItems()">Clear</button>
        <button ng-click="setWatchersCount()">Count Watchers</button>
        <span ng-if="showUpdateTime()"><b>Update time:</b> {{updateTime}}</span>
        <span><b>Watchers count:</b> {{watchersCount}}</span>

        <div ng-if="showAngular">
            <ul ng-repeat="item in items">
                <li>{{item.prop1}}</li>
                <li>{{item.prop2}}</li>
                <li>{{item.prop3}}</li>
                <li>{{item.prop4}}</li>
                <li class="random-number">{{item.prop5}}</li>
                <li><a href="javascript:void(0)" ng-click="onAngularShowSubItemClick(item)">{{item.prop6.showHide}} SubItem</a></li>
                <li ng-if="item.prop6.show">
                    <ul>
                        <li>{{item.prop6.text}} {{item.prop6.counter}}</li>
                        <li><a href="javascript:void(0)"ng-click="onAngularUpdateSubItemClick(item)">Update</a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div ng-if="showReact">
            <div ng-react-component="ReactItemList" data="items" ></div>
        </div>
    </div>
</body>
</html>
